<h1> Question/Show </h1>

<h3>Category: <%= @question.category.capitalize %></h3><br>
<p>Question: <%= @question.question %><p><br>


<!-- I need a form to grab the user answer and compare to the actual anwser -->

<!-- I also want to display the score -->

<!-- form_for [@game @question] do |f| -->
<!--      f.label :Your Answer -->
<!--      f.text_field : -->


<!--      f.label :answer (originally hidden) -->
<!--      f.label :submit -->
<!-- end -->

