<h1>Welcome to Commuter Trivialy!</h1>


<div class="session_start">
  <%= button_to "Sign Up!", new_user_path(@user), :method => :get %>
</div class="button">

<div class="session_start">
  <%= button_to "Sign In!", new_session_path(@user), :method => :get %>
</div class="button">


<img src="http://www.michellesarabia.com/wp-content/uploads/2013/07/traintracks.jpg"
class="medium" />

